Django==5.0.6
dj-database-url==2.1.0
psycopg2-binary==2.9.9
whitenoise==6.6.0
cloudinary==1.36.0
dj3-cloudinary-storage==0.0.6
django-summernote==0.8.20.0
django-allauth==0.63.1
django-crispy-forms==2.1
crispy-bootstrap5==2024.2