{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <img id="header_img" src="/static/images/header.jpg" class="img-fluid" alt="Llyanwyn Island">
        <!-- Text Section -->
        <section class="text-center my-4">
            <div class="container">
                <h1 class="display-4">Welcome to Walk Anglesey</h1>
                <p class="lead">Welcome to Walk Anglesey, your ultimate guide to exploring the stunning landscapes, 
                    captivating coasts, and rich heritage of the Isle of Anglesey. Whether you're a seasoned hiker or a leisurely stroller, 
                    our website is your gateway to discovering the island's wonderful beauty and diverse walking opportunities. 
                    From rugged coastal paths that offer panoramic sea views to tranquil woodland trails that immerse you in nature's serenity, 
                    Anglesey boasts a plethora of routes suited for all ages and abilities.<br>
                    <br>
                    Join us as we embark on a journey to uncover the hidden gems, breathtaking vistas, and timeless wonders waiting to be explored. 
                    Each walk is an invitation to experience the island's unique charm, from its ancient monuments and historic sites to its vibrant flora and fauna. 
                    Whether you seek adventure or relaxation, our curated guides will help you find the perfect path. So lace up your boots, breathe in the fresh sea air, 
                    and let the Isle of Anglesey captivate your heart one step at a time. With every stride, you'll find new reasons to fall in love with this enchanting corner of the world.
                </p>
            </div>
        </section>

        <!-- Map Section -->
        <section class="text-center my-4">
            <div class="container">
                <h2 class="display-6">Map of Walks</h2>
                <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
        </section>
        <section class="text-center my-4">
            <div class="container">
                <h2 class="display-6">Walk Blogs</h2>
            </div>
        </section>
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'post_detail' post.slug %}" class="post-link" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                  class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}"
                  class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChOs61BNQizWXVi6v600vBtM-A-NKiPoU"></script>

<script src="{% static 'js/map.js' %}"></script>

<!-- index.html content ends here -->
{% endblock %}